<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Base64Key" value="eqtLcp6jFSchjH8WlUB9VLNnlA3yoeld3GTKWAWSBRbUeT7G+L2thsKLiLYIc8E6JbtLc11qpsaT89uNSj5rADtJlpR/1Hn9URHw1W9ksL0=" />
		<add key="UrlWriteData" value="https://localhost:7218/api/data/write" />
		<add key="UrlReadData" value="https://localhost:7218/api/data/read" />
		<add key="UrlRegister" value="https://localhost:7218/api/auth/registration" />
		<add key="UrlLogin" value="https://localhost:7218/api/auth/login" />
	</appSettings>
</configuration>